@font-face {
    font-family: 'Shrikhand';
    src: url('./fonts/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf');
    font-weight: 900;
}

$color-primary: #9356DC;
$color-primary-bright: #f5edff;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #353535;
$color-new: #008766;

$background-primary: #f6f6f6;
$background-secondary: #eaeaea;
$background-new: #99e2d0;

$ft-light: 200;
$ft-normal: 400;
$ft-bold: 700;
$ft-black: 900;

@mixin gradient-button {
    color: white;
    background: linear-gradient(170deg, $color-secondary 0%, $color-primary 100%);
    border-radius: 75px;
    font-weight: $ft-normal;
    padding: 0 60px;
}

@mixin primary-shadow {
    box-shadow: 0 15px 40px 1px rgba(0, 0, 0, .15);
}

@mixin hovered-button {
    transition: all .2s ease-in-out;
    &:hover {
        filter: brightness(110%) saturate(90%);
        box-shadow: 0 20px 30px 1px rgba(0, 0, 0, .25)
    }
}

@mixin full-cover-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

h1 {
    font-family: Shrikhand;
    text-size-adjust: none;
}

p, h2, h3 {
    font-family: Roboto;
    text-size-adjust: none;
}

p {
    font-size: 46px;
}

h2, h3 {
    font-size: 62px;
    font-weight: $ft-black;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.base-btn {
    @include gradient-button;
    box-shadow: 0 20px 30px 1px rgba(0, 0, 0, .2);
    margin-top: 30px;
    margin-bottom: 60px;
    > p > a {
        text-decoration: none;
        color: white;
    }
    @include hovered-button
}

    /* Début Header */

.header {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    &__heading {
        min-width: 45%;
        &-menu {
            min-width: 45%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 40%;
    margin-bottom: 10px;
    &__icon {
        font-size: 50px;
        color: $color-quaternary;
    }
    &__homepage-link {
        @include full-cover-link;
    }
}

    /* Fin Header */



    /* Début Main */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

        /* Début Section Menu */

.section-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    border-radius: 100px;
    background-color: $background-primary;
    margin-top: -100px;
    &__head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        > div {
            display: flex;
            align-items: center;
            font-size: 65px;
            margin-right: 100px;
            };
    }
    &__title {
        font-size: 70px;
        font-weight: 100;
    }
    &__favourite {
        position: absolute;
        background-color: transparent;
    }
    &__favourited {
        position: absolute;
        color: transparent;
        background: linear-gradient(335deg, $color-secondary 0%, $color-primary 100%);
        -webkit-background-clip: text;
        transition: opacity .2s ease-in-out;
        z-index: 2;
        opacity: 0%;
        &:hover {
            cursor: pointer;
            opacity: 100%;
        }
    }
    &__order {
        padding: 0 75px;
        font-size: 45px;
    }
    > .base-btn {
        margin-top: 100px;
        margin-bottom: 175px;
    }
}

.menu-step {
    width: 100%;
    &__title {
        font-weight: $ft-normal;
        font-size: 40px;
    }
    &__underline {
        position: relative;
        border-bottom: 8px solid $background-new;
        width: 100px;
        height: 0;
        margin-top: -20px;
    }
}

.menu-card {
    background-color: white;
    border-radius: 40px;
    padding: 30px 0;
    margin: 40px 0;
    display: flex;
    align-items: center;
    width: 100%;
    @include primary-shadow;
    &__text {
        padding-left: 30px;
        width: 80%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;
        &__dish {
            font-size: 44px;
            font-weight: $ft-bold;
            margin: 0;
            margin-bottom: 5px;
        }
        &__detail {
            font-size: 36px;
            font-weight: $ft-normal;
            margin: 0;
            margin-top: 5px;
        }
    }
    &__price {
        width: 20%;
        display: flex;
        justify-content: center;
        > p {
            font-size: 34px;
            font-weight: $ft-bold;
            color: $color-quaternary;
            margin: 0;
            margin-top: 42%;
        }
    }
}

        /* Fin Section Menu */

        /* Début Section Explore */

.section-explore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: $ft-bold;
    color: $color-quaternary;
    background-color: $background-secondary;
    width: 100%;
    padding: 45px 0;
    &__text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__icon {
        margin-left: 27%;
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-primary;
    text-align: center;
    padding: 100px 0;
    &__title {
        padding: 0 13%;
        margin: 0;
    }
    &__text {
        font-weight: $ft-light;
    }
}

        /* Fin Section Explore */

        /* Début Section Tutoriel */

.section-tutorial {
    margin: 70px 0;
    padding: 0 50px;
}

.tutorial-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__entry {
        display: flex;
        align-items: center;
        min-width: 100%;
    }
    &__number-bubble {
        z-index: 1;
        position: relative;
        left: 30px;
        margin-left: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        color: white;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        > p {
            font-size: 230%;
        }
    }
    &__card {
        display: flex;
        align-items: center;
        background-color: $background-primary;
        color: $color-quaternary;
        font-weight: $ft-bold;
        margin: 40px 0;
        padding: 25px 0;
        border-radius: 50px;
        flex-grow: 1;
        @include primary-shadow;
        &__icon {
            font-size: 50px;
            max-width: 40px;
            margin-right: 70px;
            margin-left: 90px;
            opacity: 75%;
        }
        &__text {
            font-size: 42px;
            color: black;
        }
        &__active {
            background-color: $color-primary-bright;
            color: $color-primary;
            > i {
                opacity: 100%;
            }
        }
    }
}

        /* Fin Section Tutoriel */

        /* Début Section Restaurants */

.section-restaurants {
    margin-top: 60px;
    padding: 110px 50px;
    background-color: $background-primary;
}

.restaurant-card {
    position: relative;
    background-color: white;
    border-radius: 40px;
    @include primary-shadow;
    margin: 50px 0;
    &__image {
        object-fit: cover;
        width: 100%;
        max-height: 450px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        object-position: 0 100%;
        &__offset {
            object-position: 0 62%;
        }
    }
    &__new {
        position: absolute;
        background-color: $background-new;
        border-radius: 7px;
        left: 610px;
        margin: 30px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
        > p {
            color: $color-new;
            margin: 18px 35px;
            font-size: 35px;
            font-weight: $ft-bold;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;
        &__title {
            font-size: 45px;
            margin: 0;
            padding-top: 35px;
        }
        &__location {
            font-weight: $ft-light;
            font-size: 40px;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 40px;
        }
    }
    &__favourite {
        position: absolute;
        right: 40px;
        font-size: 65px;
        margin-right: 20px;
        background-color: transparent;
    }
    &__favourited {
        position: absolute;
        right: 40px;
        font-size: 65px;
        margin-right: 20px;
        color: transparent;
        background: linear-gradient(335deg, $color-secondary 0%, $color-primary 100%);
        -webkit-background-clip: text;
        transition: opacity .2s ease-in-out;
        z-index: 2;
        opacity: 0%;
        &:hover {
            cursor: pointer;
            opacity: 100%;
        }
    }
    &__link {
        @include full-cover-link;
    }
}

        /* Fin Section Restaurants */

    /* Fin Main */



    /* Début Footer */

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: $color-quaternary;
    color: white;
    padding: 70px;
    &__icon {
        margin-right: 30px;
        max-width: 25px;
        font-size: 30px;
    }
    &__iconlink {
        display: flex;
        align-items: center;
        font-weight: $ft-bold;
    }
    &__title {
        filter: invert(100%);
        margin-bottom: 50px;
        width: 33%;
    }
    &__link {
        text-decoration: none;
        color: white;
    }
    &__text {
        margin: 10px 0;
        padding: 0;
        font-weight: lighter;
        font-size: 40px;
    }
}

    /* Fin Footer */



    /* Début Media Queries */

        /* Début MQ Tablette */

@media (min-device-width: 768px) {

    h2 {
        font-size: 50px;
        text-align: center;
    }

    .header {
        min-width: 100%;
        &__heading {
            min-width: 25%;
        }
    }

    .location{
        font-size: 40px;
        &__text {
            font-size: 40px;
        }
    }

    .explore {
        min-width: 100%;
        &__title {
            padding: 0 8%;
        }
        &__text {
            padding: 0 8%;
            font-size: 35px;
        }
    }

    .base-btn {
        > p {
            font-size: 30px;
        }
    }

    .section-tutorial {
        padding: 0 125px;
    }

    .tutorial-list {
        &__card {
            &__text{
                font-size: 35px;
            }
        }
    }

    .section-restaurants {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 30px;
        &__title {
            min-width: 100%;
        }
    }

    .restaurant-card {
        width: 45%;
        margin: 0 20px;
        margin-bottom: 45px;
        &__new {
            left: 210px;
            > p {
                font-size: 25px;
                margin: 10px 20px;
            }
        }
        &__image {
            max-height: 250px;
        }
        &__info {
            &__title {
                font-size: 30px;
            }
            &__location {
                font-size: 25px;
            }
            > i {
                font-size: 50px;
                margin-right: 0;
            }
        }
    }

    .footer {
        &__icon {
            max-width: 20px;
            font-size: 25px;
        }
        &__title {
            margin-bottom: 50px;
            width: 27%;
        }
        &__text {
            font-size: 30px;
        }
    }

}

        /* Fin MQ Tablette */

        /* Début MQ Desktop */

@media (min-device-width: 992px) {

    h2 {
        font-size: 40px;
    }

    .header {
        &__heading {
            min-width: 20%;
        }
    }

    .location{
        font-size: 30px;
        &__text {
            font-size: 30px;
        }
        &__icon {
            margin-left: 42%;
        }
    }

    .explore {
        min-width: 100%;
        &__title {
            padding: 0 8%;
        }
        &__text {
            padding: 0 8%;
            font-size: 25px;
        }
    }

    .base-btn {
        > p {
            font-size: 25px;
        }
    }

    .section-tutorial {
        margin-bottom: 0;
    }

    .tutorial-list {
        flex-direction: row;
        justify-content: space-between;
        &__entry {
            min-width: 30%;
            margin: 0;
            padding: 0;
        }
        &__card {
            max-width: 90%;
            &__text{
                font-size: 20px;
                margin: 0 0;
            }
            &__icon {
                font-size: 25px;
                margin-right: 25px;
                margin-left: 50px;
            }
        }
        &__number-bubble {
            width: 40px;
            height: 40px;
            > p {
                font-size: 25px;
            }
        }
    }

    .section-restaurants {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 30px;
        &__title {
            min-width: 100%;
        }
    }

    .restaurant-card {
        width: 30%;
        &__new {
            left: 370px;
            > p {
                font-size: 15px;
            }
        }
        &__image {
            max-height: 250px;
        }
        &__info {
            &__title {
                font-size: 25px;
            }
            &__location {
                font-size: 20px;
            }
            > i {
                font-size: 35px;
                bottom: 70px;
            }
        }
    }

    .footer {
        &__icon {
            max-width: 10px;
            font-size: 15px;
        }
        &__title {
            width: 15%;
        }
        &__text {
            font-size: 20px;
        }
    }

}
