@font-face {
    font-family: 'Shrikhand';
    src: url('./fonts/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf');
    font-weight: 900;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background-primary: #f6f6f6;
$background-secondary: #eaeaea;

$ft-light: 200;
$ft-normal: 400;
$ft-bold: 700;
$ft-black: 900;

@mixin gradient-button {
    color: white;
    background: linear-gradient(170deg, $color-secondary 0%, $color-primary 100%);
    border-radius: 75px;
    font-weight: $ft-normal;
    padding: 0 60px;
}

@mixin primary-shadow {
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, .25);
}

p, h2, h3 {
    font-family: Roboto;
    text-size-adjust: none;
}

p {
    font-size: 46px;
}

h2, h3 {
    font-size: 68px;
    font-weight: $ft-black;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    /* Début Header */

.header {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    &__heading {
        min-width: 45%;
    }
}

    /* Fin Header */



    /* Début Main */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section-explore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: $ft-bold;
    color: #353535;
    background-color: $background-secondary;
    width: 100%;
    padding: 45px 0;
    &__text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__icon {
        margin-left: 27%;
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-primary;
    text-align: center;
    padding: 100px 0;
    &__title {
        padding: 0 10%;
        margin: 0;
    }
    &__text {
        font-weight: $ft-light;
    }
    &__btn {
        @include gradient-button;
        @include primary-shadow;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

    /* Fin Main */



    /* Début Footer */

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #424242;
    color: white;
    padding: 70px;
    &__icon {
        margin-right: 30px;
        max-width: 25px;
        font-size: 30px;
    }
    &__iconlink {
        display: flex;
        align-items: center;
        font-weight: $ft-bold;
    }
    &__title {
        filter: invert(100%);
        margin-bottom: 50px;
        width: 33%;
    }
    &__link {
        text-decoration: none;
        color: white;
    }
    &__text {
        margin: 10px 0;
        padding: 0;
        font-weight: lighter;
        font-size: 40px;
    }
}

    /* Fin Footer */